fastapi
uvicorn[standard]
python-multipart
boto3
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
python-jose
moviepy #모듈 못찾으면 다운그레이드
pydub
aiofiles
Pillow
opencv-python
mediapipe
deepface
tf-keras #나중에 버전문제 생기면 버전 변경 필요